<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin table Examples</title>
<meta name="description" content="这是一个 table 页面">
<meta name="keywords" content="table">
<% include("/common/inc/_css.html"){} %>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<% include("/common/inc/_header.html"){} %>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <% include("/common/inc/_start.html"){} %>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">日志列表</strong> / <small>Table</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">序号</th>
                <th class="table-title"> 操作方法</th>
                <th class="table-title"> 操作人</th>
                <th class="table-date am-hide-sm-only">操作日期</th>
              </tr>
              </thead>
              <tbody>
                 <% for(var item in list.list!) {%>
	              <tr>
	                <td><input type="checkbox" /></td>
	                <td>${itemLP.index}</td>
	                <td><a href="#">${item.method_info}</a></td>
	                <td><a href="#">${item.username}</a></td>
	                <td>${item.create_time,'yyyy-MM-dd hh:mm:ss'}</td>
	              </tr>          
	              <%}%>
                </tbody>
            </table>
            <div class="am-cf"> 
            	<span>共  ${list.totalCount} 条数据</span>&nbsp;&nbsp;
	            <span>当前第 ${list.pageNum} 页</span>&nbsp;&nbsp;
	            <span>共  ${list.totalPage} 页  </span>
              <div class="am-fr">
                <% 
	             var curUrl = ctxPath + "/auth/log/list";
	             include("/common/inc/_page.html",{pageUrl:curUrl}){}              
		        %>
              </div>
            </div>
            <hr />
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>
<% include("/common/inc/_js.html"){} %>
</body>
</html>
