<!doctype html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin form Examples</title>
<meta name="description" content="这是一个form页面">
<meta name="keywords" content="form">
<style type="text/css">
.see {
	width: 130px;
	display: inline-block;
}

#seea {
	margin-left: 180px;
}

#field {
	width: 700PX;
	margin-left: 200px;
}

#areac {
	width: 300px;
	display: inline-block;
}
</style>
<% include("/common/inc/_css.html"){} %>

</head>
<body>
	<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


	<div class="am-cf">

		<!-- content start -->
		<div class="admin-content">
			<div class="admin-content-body">

				<hr>

				<form class="am-form" method="post" id="doc-vld-msg">
					<fieldset>
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-5 am-u-md-2 am-text-right">前进到阶段:</div>
							<div class="am-u-sm-7 am-u-md-4 am-u-end">
								<select data-am-selected="{btnSize: 'sm'}" id="doc-select-1"
									name="BUSINESS_STATUS_ID" required>
									<%
              						for(var item in statusAll!){%>
									<option value="${item.id}" required="required" ${item.id ==status.id ? "selected":""} >${item.status_name}</option>
									<%}%>
								</select>
							</div>
						</div>

						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">下次联系:</div>
							<div class="am-u-sm-8 am-u-md-4">
								<input type="text" required="required" class="demo-input" placeholder="请选择日期" id="test1" value="${business.next_contact_time,'yyyy-MM-dd'}" name="NEXT_CONTACT_TIME"
									class="am-input-sm"/>
							</div>
							<div class="am-hide-sm-only am-u-md-6"></div>
							
							<div class="am-u-sm-4 am-u-md-0 am-text-right"></div>
							<div class="am-u-sm-8 am-u-md-6 am-u-end">
								<input type="text" required="required" name="NEXT_CONTACT_INFO" value="${business.next_contact_info}" placeholder="联系内容" />
							</div>
						</div>
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">阶段描述</div>
							<div class="am-u-sm-8 am-u-md-10">
								<textarea rows="5" required="required" id="intro" name="DESCRIPTION">${remark}</textarea>
							</div>
							<input type="hidden" name="ID" value="${business.id}"/>
						</div>
						<div class="am-margin">
							<button onclick="btnChoose()" id="btnTypeSave" class="am-btn am-btn-primary am-btn-xs btn-loading-example">推进</button>
							<a onclick="clsChoose()"><button type="button" class="am-btn am-btn-primary am-btn-xs">取消</button></a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- content end -->

	</div>

	<hr>

	<% include("/common/inc/_js.html"){} %>
	<script src="${ctxPath}/assets/laydate/laydate.js"></script> <!-- 改成你的路径 -->
	<!-- ajax提交表单 -->
	<script src="${ctxPath}/assets/js/jquery.form.min.js"></script>

	<script type="text/javascript">
	//执行一个laydate实例
	laydate.render({
	  elem: '#test1' //指定元素
	});
	
	//注意：parent 是 JS 自带的全局对象，可用于操作父页面
	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
	
	function btnChoose(){
	  parent.layer.close(index);
	}
	
	function clsChoose(){
	  parent.layer.close(index);
	}
	</script>
</body>
</html>
