<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

省份:
<select id="provinceList" onchange="getCity(this.value)">
	<% for(var item in provinceList!){ %>
	<option value="${item}">${item}</option>
	<%}%>
</select> <br/>

城市:
<select id="cityList" onchange="getArea(this.value)">

</select> <br/>


地区:
<select id="areaList">

</select> <br/>

<script src="${ctxPath}/assets/js/jquery.min.js"></script>
<script type="text/javascript">
var selectProvince = $("#provinceList").val();
getCity(selectProvince);


function getCity(provinceName){
	$.ajax({
		url:"${ctxPath}/district/data_ajax"
		,data:{"name":provinceName}
		,type:'POST'
		,success:function(data){		
			//清理
			$("#cityList").html("");
			//循环
			$.each(data,function(index,item){
				var option ="<option value='"+item+"'>"+item+"</option>"
				$("#cityList").append(option);
			})
			// 获取选中
			console.log($("#cityList").val());
			var selectCity = $("#cityList").val();
			getArea(selectCity);
		}
		
	})
}

function getArea(cityName){
	$.ajax({
		url:"${ctxPath}/district/data_ajax"
		,data:{"name":cityName}
		,type:'POST'
		,success:function(data){		
			//清理
			$("#areaList").html("");
			//循环
			$.each(data,function(index,item){
				var option ="<option value='"+item+"'>"+item+"</option>"
				$("#areaList").append(option);
			})
		}
		
	})
}
</script>
</body>
</html>