<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin form Examples</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
<% include("/common/inc/_css.html"){} %>

<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/webuploader/webuploader.css">
<style type="text/css">
  	#showImg{
  	width: 70px;
  	height: 70px;
  	border: 1px;
  	border-color: black;
  	border-style: solid;
  	margin-left: 5%;
  	}
</style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<% include("/common/inc/_header.html"){} %>
<div class="am-cf admin-main">
<% include("/common/inc/_start.html"){} %>
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">图片管理</strong> /
        <small>image</small>
      </div>
    </div>
    <hr>
    <form class="am-form" method="post">
      <div id="showImg"></div>        			 
      <div class="am-g am-margin-top">
	<div class="am-u-sm-4 am-u-md-2 am-text-right">
		<input type="text" name="imgName" placeholder="图片名"/>
		<img id="img" alt="" src=""/>
	</div>
	<div class="am-u-sm-8 am-u-md-4">
		<div id="filePicker">选择图片</div>
	</div>
	<input type="hidden" name="productMainUrl" id="productMainUrl"/>
	</div>
        <div class="am-margin">
      <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
      <button type="button" class="am-btn am-btn-primary am-btn-xs">放弃保存</button>
    </div>
    </form>  
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>
</div>
<!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<% include("/common/inc/_js.html"){} %>

<script type="text/javascript" src="${ctxPath}/assets/webuploader/webuploader.js"></script>

<script type="text/javascript">
var mainUploader = WebUploader.create({

	 // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    swf:  '${ctxPath}/assets/webuploader/Uploader.swf',

    // 文件接收服务端。
    server: '${ctxPath}/uploadImg',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
    resize: false,
    
 // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});

mainUploader.on( 'uploadSuccess', function( file,data ) {
    //获取图片名
    $("input[name='productMainUrl']").val(data.data);
    $("input[name='imgName']").val(data.data);
    
    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    mainUploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $("#showImg").replaceWith('<span>不能预览</span>');
            return;
        }
        $("#showImg").attr( 'src', src );
    }, 100, 100 );
});

</script>
</body>
</html>
